@font-face {
    font-family: Cuprum;
    src: url(ofont.ru_Cuprum.ttf);
}
body{
    background-color: #d5dcff;
    margin: 0;
    font-family: tahoma;
}
h1{
    color: #1b00bd;
    text-shadow: 0px 5px rgb(255, 255, 255);
    font-family: Cuprum ;
    text-align: center;
    font-size: 45px;
}
.condTask{
    overflow: auto;
    border: 6px solid #c2caf9;
    text-align: left;
    background-color: white;
    padding: 20px 30px 20px 30px;
    font-size: 22px;
    margin: 0px;
    width: 690px;
    height: 300px;
    white-space: normal;
    /* display: inline-block; */
}
.otvetTask{
    border: 6px solid #c2caf9;
    border-left: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
    background-color: white;
    /* padding: 20px 30px 20px 30px; */
    font-size: 20px;
    /* border-left: 6px solid #c2caf9; */
    width: 360px;
    height: 340px;
    font-family: tahoma;
    /* justify-content: left; */
    /* display: inline-block; */
}
/* div{
    vertical-align: top;
} */
.test{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    text-align: center;
    white-space: nowrap;
}
input{
    /* display: inline-block; */
    font-size: 22px;
    padding-left: 5px;
    padding-right: 5px;
    width: 150px;
    height: 37px;
    white-space: nowrap;
    vertical-align: middle;
    border: 3px solid #c2caf9;
}
button{
    /* display: inline-block; */
    width: 125px;
    height: 45px;
    white-space: nowrap;
    font-size: 22px;
    vertical-align: middle;
    border: 3px solid #919cda;
    background-color: #919cda;
    color: rgb(255, 255, 255);
    /* vertical-align: middle; */
}
details{
    /* display: inline-block; */
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    /* display: inline-block; */
    /* width: 100px; */
    padding: 6px;
    border: 3px solid #c2caf9;
    /* color: red;
    justify-content: center; */

}
.correct{
    color: #4de952;
    font-size: 22px;
}
.incorrect{
    color: #ff6868;
    font-size: 22px;
}
#Rezult{
    margin-left: 30px;
    font-family: arial;
}
